h3{
  color:cadetblue;
}

body{
    background-color: lightgray;
}


.p1{
    color: black;
    float: right;
    font-size: medium;
    font-weight: normal;
}

.card{
    background-color:white;
}

.img1{
    box-sizing: border-box;
    display: block;
    object-fit: contain; 
    width: 40%;
    height: 100%;
}




.a{
    width: 100%;
    height: 100%;
    padding: 4px;
    box-sizing: border-box;
    display: block;
    object-fit: contain;

}

.img-land{
    float: left;
   margin: 0px 0px 20px 20px;
}

h1{
    color: cadetblue;
}

p{
    font-weight: bold;
    font-size: 12px;
}

.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.nav-where{
    
}